<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>立命館大学セキュリティ団体　RiST</title>
  <link href="/style.css" rel="stylesheet">
  <link href="/RiST.jpg" rel="icon">
</head>

<body>
  <header>
    <a href="/">
      <img src="/RiST.jpg" alt="RiST" width="64" height="64" />
      <span>立命館大学セキュリティ団体　RiST</span>
    </a>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="/">RiSTについて</a></li>
        <li><a href="/activity.html">活動紹介</a></li>
        <li><a href="/blog/index.html">ブログ</a></li>
        <li><a href="/contact.html">お問い合わせ</a></li>
        <li><a href="/history.html">沿革</a></li>
      </ul>
    </nav>
    <article><!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>立命館大学セキュリティ団体　RiST</title>
  <link href="/style.css" rel="stylesheet">
  <link href="/RiST.jpg" rel="icon">
</head>

<body>
  <header>
    <a href="/">
      <img src="/RiST.jpg" alt="RiST" width="64" height="64" />
      <span>立命館大学セキュリティ団体　RiST</span>
    </a>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="/">RiSTについて</a></li>
        <li><a href="/activity.html">活動紹介</a></li>
        <li><a href="/blog/index.html">ブログ</a></li>
        <li><a href="/contact.html">お問い合わせ</a></li>
        <li><a href="/history.html">沿革</a></li>
      </ul>
    </nav>
    <article>{% body %}</article>
  </main>
  <footer>Copyright (C) 2016-2019 RiST All rights reserved.</footer>
</body>

</html>
</article>
  </main>
  <footer>Copyright (C) 2016-2019 RiST All rights reserved.</footer>
</body>

</html>
