<h1>encryptCTF2019 writeup</h1>

<p>
  日本時間4月2日14:00〜4月4日14:00にオンラインで開催されたencryptCTFにRiSTで出場しました。
  初心者〜中級者向けのCTFだったのですが、RiSTは1261 Pointsを獲得して134位でした。

</p>

<p>
  <img src="../images/encryptCTF.jpg" width="50%" height="50%" )
</p>
<p>

  以下、部員が解けた問題のwriteupを書きました。<br>
  <a href="https://qiita.com/yamadad/items/7e3775f1bbb94dbc6674">pwn問の一部writeup</a><br />
  <a href="https://fuu32.github.io/writeup-encryptCTF/">cryptoとforensicsの一部writeup</a><br />

</p>
