<h1>活動紹介</h1>
<p>
  通常の活動は団体のメンバーで集まり主にCTFの問題を解く勉強会をしています。
</p>

<h2>CTFとは？</h2>
<p>
  CTF(Capture the Flag)は、サイバー攻撃の 対象となる機密情報をフラグに見立てて、
  それを見つける技術力を競い合うコンテストです。コンテストでは、与えられたデータを解析したり、
  攻撃したりすることでフラグを見 つけます。CTFで与えられる課題の種類は暗号や通信、プログラム
  など様々であり、幅広く、高度な技術力が求められます。
</p>


<iframe src="https://calendar.google.com/calendar/embed?src=rits.sec%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
