<h1>お問い合わせ</h1>
<p>入部希望、活動への見学または質問等がある方は以下のメールアドレスかTwitterアカウントにご連絡ください。</p>

<h2>メールアドレス</h2>
<p>rits.sec[@]gmail.com</p>

<h2>Twitterアカウント</h2>
<p>@realRiST: <a href="https://twitter.com/realRiST">https://twitter.com/realRiST</a></p>

<h2>活動場所</h2>
<p>クリエーションコア インキュベーション室1</p>

<h2>活動時間</h2>
<p>毎週木曜日 18:00~ </p>
