<h2>連絡先</h2>
入部希望、活動への見学または質問等がある方は以下のメールアドレスかTwitterアカウントにご連絡ください。
<h3>メール</h3>
rits.sec[@]gmail.com

<h3>Twitter</h3>
<a href="https://twitter.com/realrist" target="_blank">RiST Twitter アカウント</a>
<h3>活動場所</h3>
クリエーションコア7階　セキュリティー・ネットワークコース会議室
<h3>活動時間</h3>
毎週木曜日 5,6限
