<h1>沿革</h1>

<ul>
  <li>2019-05: SECCON Beginners CTF 2019 38位(2180 points)</li>
  <li>2018-10: SECCON CTF 2018 予選 281位(203 points)</li>
  <li>2018-07: 2018年度 学びのコミュニティ形成集団助成金 採用</li>
  <li>2018-05: SECCON Beginners CTF 2018</li>
  <li>2017-12: SECCON CTF 2017 予選 177位(1200点)</li>
  <li>2017-06: 2017年度 学びのコミュニティ集団形成助成金 採用</li>
  <li>2017-02: 強化合宿</li>
  <li>2016-12: SECCON CTF 2016 予選 450位(200点)</li>
  <li>2016-11: 設立</li>
</ul>
