<h2>RiSTの沿革 </h2>

<ul>
  <li><span>2016-11</span>設立</li>
  <li><span>2016-12</span>SECCON 2016 Online CTF 450位(200点)</li>
  <li><span>2017-2</span>強化合宿</li>
  <li><span>2017-6</span>2017年度　学びのコミュニティ集団形成助成金　採用</li>
  <li><span>2017-12</span>SECCON 2017 Online CTF 177位(1200点)</li>
  <li><span>2018-5</span>SECCON Beginners CTF</li>
  <li><span>2018-7</span>2018年度　学びのコミュニティ形成集団助成金　採用</li>
  <li><span>2018-10</span>SECCON 2018 Online CTF 281位(203 points)</li>
</ul>
