
<h1>RiSTについて</h1>
<p>
  近年、サイバー攻撃による被害が増加する一方で、セキュリティ人材が不足しています。
  サイバー攻撃に問題意識を持つ学生がセキュリティに関する技術に興味を持ち、
  これを学び合う学生同士の場を求めて、RiSTが設立されました。
</p>
<h2>リニューアル</h2>
<p style="color: red;">
Webサイトをリニューアル中です． 10月中に新しいサイトに移行されます．
</p>
<h2>RiSTの目標</h2>
<p>
  CTFなどのセキュリティ関連のコンテストに挑戦し上位を目指すことでセキュリティ技術の習得を目指す。
  また情報セキュリティを互いに学び合う活発なコミュニティとして存在する。
</p>
